<div class="container py-5">

  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex flex-col">
      <h3>Companies</h3>
    </div>
    <div class="d-flex flex-col">
      <%= link_to "List", companies_path %>&nbsp;|&nbsp;<%= link_to "Edit", edit_company_path %>
    </div>
  </div>

  <div class="row bg-success">
    <div class="col">
      <div class="container p-5 text-white">
        <h1><%= @company.name %></h1>
        <h3><a href='https://maps.google.com/maps/search/<%= @company.location %>' target='_blank' class="text-white"><i class='fas fa-map-pin --ga-maps'></i>&nbsp;<%= @company.location %>&nbsp;</a></h3>
        <%= sanitize @company.services.map { |service| content_tag :span, service, class: 'badge badge-danger' }.join('&nbsp;') %>
      </div>
    </div>
  </div>

  <div class="row bg-success text-white text-center py-3">
    <div class="col">
      <p class="lead"><%= @company.phone %> — <%= @company.email %></p>
    </div>
  </div>

  <div class="row bg-light">
    <div class="col-12 col-lg-8 p-lg-5 pt-4">
      <%= @company.description %>

      <h5>Invoices</h5>
      <%= react_component("BusinessInvoices", { company_id: @company.id }) %>

      <h5>Location</h5>
      <%= react_component("BusinessLocationMap", { location: @company.location }) %>

      <h5>Social Media Monitor</h5>
      <a class="twitter-timeline" data-height="500" href="https://twitter.com/holman?ref_src=twsrc%5Etfw">Tweets by holman</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-12 col-lg-4 pt-lg-5">
      <h5>Business Contact</h5>
      <%= render 'contact_fields', phone: @company.phone, email: @company.email %>

      <br>
      <% if @company.business_owner.present? %>
        <h5>Business Owner Contact</h5>
        <%= render 'contact_fields', phone: @company.business_owner.phone, email: @company.business_owner.email %>
      <% end %>
    </div>
  </div>
</div>
